// app global css in SCSS form

.text-brand-1 {
  color: $brand-1;
}
.bg-brand-1 {
  background: $brand-1;
}

.text-brand-2 {
  color: $brand-2;
}
.bg-brand-2 {
  background: $brand-2;
}

.text-brand-3 {
  color: $brand-3;
}
.bg-brand-3 {
  background: $brand-3;
}

.text-brand-4 {
  color: $brand-4;
}
.bg-brand-4 {
  background: $brand-4;
}

.text-brand-5 {
  color: $brand-5;
}
.bg-brand-5 {
  background: $brand-5;
}

.text-brand-6 {
  color: $brand-6;
}
.bg-brand-6 {
  background: $brand-6;
}

.text-brand-7 {
  color: $brand-7;
}
.bg-brand-7 {
  background: $brand-7;
}
